%table
  %tr
    %th
      = sortable "short_url"
    %th
      = sortable "full_url"
  - for link in @links
    %tr
      %td= link.short_url
      %td= link.full_url
      %td= link_to 'Show', link
      %td= link_to 'Edit', edit_link_path(link)
      %td= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete
%br
.paginate
  = will_paginate @links

