- title "Links"

= form_tag links_path, :method => 'get' do

  = hidden_field_tag :direction, params[:direction]
  = hidden_field_tag :sort, params[:sort]
  = text_field_tag "search", params[:search]
  = submit_tag "search", :full_url => nil

#links
  = render 'links'
%p
  = link_to "New Link", new_link_path 
