- title "Link"

%p
  %strong Short Url:
  = @link.short_url
%p
  %strong Full Url:
  = link_to @link.full_url, @link.full_url.to_s

%p
  = link_to "Edit", edit_link_path(@link)
  |
  = link_to "Destroy", @link, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", links_path
